body
{
    display: flex;
}

.left_menu
{
    position: relative;
    display: block;
    width: 200px;
    height: 100%;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.left_menu_top
{
    padding-top: 25px;
    height: 175px;
}

.logo.red_round_logo
{
    height: 100px;
    width: 100px;
    margin: auto;
}

.name_container
{
    padding: 0;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    width: 100%;
}

.name_container .ad_name
{
    padding-top: 5px;
}

.navigation
{
    
}

.parameter_view
{
    max-width: 0px;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-flow: column;
    overflow: hidden;
}

.parameter_view.active
{
    max-width: 500px;
}

.storage_view
{
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
    flex-flow: column;
}

.storage_view.active
{
    display: flex;
}

.navigation ul.navigation_ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation ul.navigation_ul li
{
    list-style: none;
    padding: 0;
    margin: 0;
    height: 55px;
    padding-top: 18px;
    padding-bottom: 20px;
    width: 200px;
    padding-left: 25px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    display: flex;
    vertical-align: middle;
    flex-flow: row;
    align-items: center;
}

.navigation ul.navigation_ul li.storage
{
    display: block;
    padding: 0px;
    overflow: hidden;
}

.navigation ul.navigation_ul li.storage .storage_li_content
{
    width: 100%;
    height: 55px;
    display: flex;
    padding-top: 18px;
    padding-bottom: 20px;
    padding-left: 25px;
    justify-content: left;
    align-items: center;
    box-sizing: border-box;
}

.navigation ul.navigation_ul li.storage.active
{
    height: auto;
}

.navigation ul.navigation_ul li.storage .storage_submenu
{
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.navigation ul.navigation_ul li.storage .storage_submenu li
{
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    height: 40px;
    width: 100%;
}

.navigation ul.navigation_ul li.storage .storage_submenu li .connection_li_content
{
    width: 100%;
    overflow: hidden;
    display: block;
    height: auto;
    text-overflow: ellipsis;
}

.navigation ul.navigation_ul li.storage .storage_submenu li .remove_connection
{
    display: block;
    outline: 0px none;
    border: 0px none;
    background-color: transparent;
    min-height: 100%;
    cursor: pointer;
    height: 40px;
    width: 40px;
    padding: 0px;
    margin: 0px;
}


.title_bar
{
    min-height: 75px;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row;
    align-items: center;
    padding-left: 25px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

ul.breadcrumbs
{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row nowrap;
    margin-left: 25px;
}

ul.breadcrumbs i
{
    margin-right: 5px;
}

ul.breadcrumbs li
{
    padding: 0;
    margin: 0;
    display: none; /* Only the last 3 children will be shown */
}

ul.breadcrumbs li:not(:first-child)::before
{
    content: '>';
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 200;
}

ul.breadcrumbs li:nth-last-child(-n+3)
{
    display: inline;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-flow: row nowrap;
}

.option_menu_button
{
    padding: 0;
    margin: 0;
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 10px;
    text-align: center;
    margin-left: 20px;
    outline: 0;
}

.option_menu
{
    display: none;
    z-index: 5;
}

.action_buttons_container
{
    float: right;
    display: flex;
    flex-flow: row;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
}

.action_buttons_container li
{
    width: 75px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.action_buttons_container.hidden, .action_buttons_container li.hidden
{
    display: none;
}

ul.option_menu
{
    width: 200px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
    margin-top: 20px;
    margin-right: -40px;
    overflow: hidden;
    height: auto;
    max-height: 0;
    position: absolute;
}

ul.option_menu li
{
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    height: 55px;
    padding: 20px;
    padding-left: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

ul.option_menu.active
{
    max-height: 100%;
}


.alternative_action_buttons
{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.storage_content_wrapper
{
    height: 100%;
    overflow: hidden;
        padding: 50px;
}

.storage_content
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex: 1;
    overflow: auto;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.storage_item
{
    width: 150px;
    height: 180px;
    display: inline-block;
    margin: 0;
    padding-left: 25px;
    padding-top: 30px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    overflow: hidden;
}



.storage_item .storage_item_icon
{
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.storage_item .storage_item_name
{
    display: block;
    width: 100px;
    height: auto;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.workflow_view
{
    width: 0;
    position: relative;
    overflow: hidden;
}

.workflow_view.visible
{
    width: 200%;
}

.workflow_view .title_bar
{
    position: absolute;
    z-index: 3;
}

.workflow_view .collapse, .text_editor_view .text_close
{
    position:absolute;
    top: 50%;
    left: 0;
    top: 0px;
    width: 25px;
    height: 25px;
    font-size: 20px;
    text-align: center;
    padding: 0px;
}

.workflow_content
{
    padding: 0;
    margin: 0;
    height: 100%;
    display: block;
    width: 100%;
    position: relative;
    overflow: auto;
}

.node
{
    height: auto;
    padding: 0;
    width: 250px;
}

.node_title
{
    height: 45px;
    padding-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
}

.port_container
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* TODO */
}

.input_ports
{
    width: 50%;
}

.output_ports
{
    width: 50%;
}

.port 
{
    height: 50px;
    display: block;;
    padding-top: 15px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
}

.port.in
{
    padding-left: 25px;
}

.port.out
{
    padding-right: 25px;
}

.queue_view
{
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
    flex-flow: column;
}

.queue_view.active
{
    display: flex;
}

.queue_view .queue_content_wrapper
{
    height: 100%;
    padding-top: 75px;
    box-sizing: border-box;
}

.running_content, .archive_content
{
    padding: 0;
    margin: 0;
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    height: 100%;
}

.archive_view, .running_view
{
    height: 100%;
    display: block;
    position: absolute;
    width: 100%;
}

.archive_view_parent, .running_view_parent
{
    position: relative;
    height: 100%;
}

ul.running_view
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.queue_item
{
    width: 100%;
    display: block;
    list-style: none;
    height: auto;
    overflow: hidden;
    max-height: 75px;
}

.queue_item .queue_title_bar
{
    display: block;
    width: 100%;
    height: 75px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 25px;
}

.queue_item .queue_title_bar .queue_name
{
    width: 300%;
}

.queue_item .queue_title_bar .queue_progress
{
    width: 100%;    
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.queue_metadata
{

}

.sync_button
{
    margin-left: 50px;
}

.nothing_selected
{
    display: block;
    position: absolute;
    z-index: -1;
    top: 45%;
    left: 50%;
}

.nothing_selected_icon
{
    display: block;
}

.nothing_selected_text
{
    display: block;
    margin-top: 30px;
}

.node .service_list_container
{
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow: auto;
}

.node .service_list_container li
{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    padding-left: 25px;
    padding-right: 25px;
    text-overflow: ellipsis;
    height: 55px;
    padding-top: 20px;
}

.send_workflow
{
    border-radius: 50%;
    position: absolute;
    bottom: 25px;
    right: 25px;
    display: block;
    text-align: center;
    display: flex;
    align-items: center;
    width: 60px;
    height: 60px;
    justify-content: center;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
}

.send_workflow:active
{
    padding-top: 3px;
}

.parameter_view .parameter_container
{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-x: auto;
}

.parameter_view .parameter_container li
{
    list-style: none;
    padding: 25px;
    overflow: hidden;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
}

.param_editor_field
{
    width: auto !important;
    margin-top: 15px;
}

#popup
{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    z-index: 100;
}

#popup_content
{
    display: block;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    overflow: auto;
    z-index: 101;
}

.connection_selection_container
{
    padding: 25px;
    height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    align-content: center;
    flex-flow: column;
    justify-content: center;
    height: auto;
}

.connection_selection_container .connection_type_selection
{
    width: 100%;
    height: 55px;
}

.connection_selection_container .connection_label
{
    margin-top: 15px;
}

.connection_selection_container .connection_input
{
    width: 100%;
    display: block;
    box-sizing: border-box;
    height: 55px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.connection_selection_container input.default_button
{
    width: 100%;
    margin-top: 30px;
}

.full_error_container
{
    height: 100%;
}

.error_container
{
    padding: 25px;
    height: 70%;
}

.error_container .error_title
{
    padding-bottom: 15px;
}

.error_buttons
{
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: flex-end;
}

.error_buttons .default_button
{
    width: 25%;
    display: inline-block;
    margin-top: 30px;
    margin-right: 25px;
}

.dropdown_icon
{
    margin-right: 25px;
}

.upload_container
{
    padding: 25px;
    height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    align-content: center;
    flex-flow: column;
    justify-content: center;
    height: auto;
}

.upload_container input.default_button
{
    width: 100%;
    margin-top: 30px;
}

.upload_container .upload_input
{
    width: 100%;
    display: block;
    box-sizing: border-box;
    height: 55px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.upload_container textarea.upload_input
{
    height: 100px;
    max-width: 100%;
    min-height: 55px;
    min-width: 100%;
}

.upload_container .file_type_selection
{
    width: 100%;
    height: 55px;
}

.uri_display_wrapper
{
    padding: 25px;
}

.uri_display_wrapper .uri_input
{
    width: 100%;
    display: block;
    box-sizing: border-box;
    height: 55px;
    margin-top: 25px;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.text_editor_view
{
    width: 0;
    position: relative;
    overflow: hidden;
}

.text_editor_view.visible
{
    width: 200%;
}

.text_editor_content
{
    position: relative;
    height: 100%;
    width: 100%;
}

.text_editor_title
{
    width: auto;
    padding-right: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: normal;
    white-space: nowrap;
}